---
import "../styles/global.css";
import { Config } from "../utils/config";

interface Props {
  title?: string;
  description?: string;
  domain?: string;
}

const {
  title = Config.title,
  description = Config.description,
  domain = Config.domain,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="ShotCount, AI feedback app, rejection tracker, personal growth app, confidence builder, self improvement AI, success tracking, growth mindset tool, AI productivity app, motivation tracker"
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content={domain + "/image.jpg"} />
    <meta property="og:url" content={domain} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={domain + "/image.jpg"} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<meta name="google-site-verification" content="kmb-VAHCu1S0uZE12yML_kj38l4IrmeD1yjrYL_bVZY" />
    <title>Shot Count</title>
  </head>
  <body class="bg-white text-sm text-neutral">
    <slot />
  </body>
</html>
